module GFS_cloud_diagnostics_mod
use machine,                 only: kind_phys
use physparam,               only: icldflg
use module_radiation_clouds, only: gethml
contains
{% for scheme in scheme_list %}
{% for routine in scheme.init, scheme.run, scheme.finalize %}
{% for ddt in routine.derived_data_types %}
   subroutine {{ ddt.name }}( 
   {% if ddt.attrs %} ,    &
   {% endif %})
implicit none
{% for attr in ddt.attrs %}
        {{ attr.type_string }}, {{ attr.dimensions }},  intent(in) ::  &
        {{ attr.local_name }},      &
{% endfor %}
{% for attr in ddt.attrs %}
        {{ attr.type_string }}, {{ attr.dimensions }}, intent(out) :: &
        {{ attr.local_name }},       &
{% endfor %}
end subroutine {{ ddt.name }}
{% endfor %}
{% endfor %}
{% endfor %}
end module GFS_cloud_diagnostics_mod
